<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-icon name="paw"></ion-icon>
    <ion-title>Mascotas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <div class="container-titles">
      <h1 class="pet-title">Bienvenido a la sección de Mascotas</h1>
      <h2 class="pet-subtitle">¿Qué deseas hacer?</h2>
    </div>

    <div class="card-container" >
      <div class="card" (click)="routeTo('pet/list-pet')">
        <h1 class="card-title">Ver tu lista de mascotas</h1>
        <div class="card-image-container" >
          <img class="card-image" src="https://medicapp-cdn.nyc3.cdn.digitaloceanspaces.com/cato.png">
        </div>
      </div>
      <div class="card" (click)="routeTo('pet/add-pet')">
        <h1 class="card-title">Agregar una mascota nueva</h1>
        <div class="card-image-container">
          <img class="card-image" src="https://medicapp-cdn.nyc3.cdn.digitaloceanspaces.com/doggo.png">
        </div>
      </div>
    </div>
  </div>
</ion-content>
