.principal-container{
    width: 100%;
    display: flex;
}

.left-side{
    min-height: 100vh;
    width: 40%;
    background-color: #4573ea;
    background-image: url('https://medicapp-cdn.nyc3.cdn.digitaloceanspaces.com/medic-person.svg');
    background-position: center center;
    background-repeat: no-repeat;
}

.rigth-side{
    height: 100%;
    width: 60%;
    background-color: white;
}

.login-text-container{
    margin-right:  50px;
}

.login-text{
    text-align: right;
    cursor: pointer;
}

.login-text-marked{
    color: #0161cd;
}

.logo-container{
    width: 80%;
    margin-left: 5%;
    margin-top: 2.5%;
}

.logo{
    width: 200px;
}

.header-container{
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
}

.title{
    font-size: 20px;
    color: #0e1538;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.subtitle-container{
    font-size: 16px;
    color: #0e1538;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

/* Mail Input container */
.form-container{
    margin-top: 60px;
}

.input-container{
    width: 100%;
    margin-left: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
    margin-top: 20px;
    border-radius: 6px;
  }

  .dual-input{
    width: 100%;
    margin-right: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
    margin-top: 40px;
    border-radius: 6px;
  }

  .blank-space{
      width: 10%;
  }

  .input-title{
    font-size: 16px;
    color: #0e1538;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    padding-bottom: 10px;
    margin: 0;   
  }

  .item-input{
    --background: #f4f4f4;
    border-radius: 10px;
  }

  .individual-input-container{
    width: 50%;
    margin-left: 10%;
  }

  .dual-input-container{
    width: 50%;
    margin-left: 10%;
    display: flex;
  }
  
  .register-button-container{
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .register-button{
    font-family: "Roboto", sans-serif;
    /* text-transform: uppercase; */
    outline: 0;
    width: 60%;
    margin-left: 0%;
    border: 0;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #4573ea;
    color: white;
    font-size: 17px;
    font-weight: 700;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 25px;
  }

  .register-button:disabled{
    font-family: "Roboto", sans-serif;
    /* text-transform: uppercase; */
    outline: 0;
    width: 60%;
    margin-left: 0%;
    border: 0;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #4574eaae;
    color: white;
    font-size: 17px;
    font-weight: 700;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 25px;
  }

  .cellphone{
      display: none;
  }

  @media (max-width: 900px){
    .left-side{
        display: none;
        height: 100vh;
        width: 26%;
        background-color: #09194B;
        background-image: url("/assets/auth/sign-in-a63d9cf6c1f626ccbde669c582b10457b07523adb58c2a4b46833b7b4925d9a3.jpg");
    }
    
    .rigth-side{
        width: 100%;
        background-color: white;
    }

    .logo{
        width: 200px;
    }

    .header-container{
        width: 90%;
        margin-left: 5%;
        margin-top: 10%;
    }

    .title-container{
        padding-bottom: 5px;
    }

    .title{
        font-size: 25px;
        color: #0e1538;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
    }
    
    .subtitle-container{
        font-size: 20px;
        color: #0e1538;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
    }

    .individual-input-container{
        width: 90%;
        margin-left: 5%;
    }

    .dual-input-container{
        width: 90%;
        margin-left: 5%;
        display: flex;
    }

    .input-container{
        width: 100%;
        margin-left: 0%;
        padding-top: 0%;
        padding-bottom: 0%;
        margin-top: 20px;
        border-radius: 6px;
    }

    .input-title{
        font-size: 20px;
        color: #0e1538;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        padding-bottom: 20px;
        margin: 0;   
      }

    .register-button-container{
        margin-top: 60px;
        width: 90%;
        margin-left: 5%;
    }
    
    .register-button{
        font-family: "Roboto", sans-serif;
        /* text-transform: uppercase; */
        outline: 0;
        width: 100%;
        margin-left: 0%;
        border: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        height: 55px;
        background-color: #4573ea;
        color: white;
        font-size: 17px;
        font-weight: 700;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
        border-radius: 25px;
      }

      .register-button:disabled{
        font-family: "Roboto", sans-serif;
        /* text-transform: uppercase; */
        outline: 0;
        width: 100%;
        margin-left: 0%;
        border: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        height: 55px;
        background-color: #4574eaae;
        color: white;
        font-size: 17px;
        font-weight: 700;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
        border-radius: 25px;
      }

    .login-text-container{
        margin-right:  0px;
        margin-top: 30px;
    }
    
    .login-text{
        text-align: left;
        cursor: pointer;
        margin-left:  20px;
    }

    .desktop{
        display: none
    }

    .cellphone{
        display: block;
    }
  }
  