<ion-content>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <div class="principal-container">
    <div class="left-side">
    </div>
    <div class="rigth-side">
      <div class="login-text-container desktop">
        <p class="login-text" (click)="routeToLogin();">¿Ya tienes cuenta? <span class="login-text-marked">Inicia
            sesión</span></p>
      </div>

      <div class="header-container">
        <div class="title-container">
          <p class="title">¿Has olvidado tu contraseña?</p>
        </div>
        <div class="subtitle-container">
          <p class="subtitle">Ingresa tu dirección de correo electrónico <br>y te enviaremos instrucciones para
            restablecer tu contraseña.</p>
        </div>
      </div>

      <form [formGroup]="emailForm" class="form-container">
        <div class="individual-input-container">
          <div class="input-container">
            <p class="input-title">Dirección de correo Electrónico</p>
            <div class="input-container">
              <ion-input slot="md" label="Correo" type="email" label-placement="floating" fill="outline"
                formControlName="email" name="email" required></ion-input>
            </div>
          </div>
        </div>
      </form>

      <div class="register-button-container">
        <button class="register-button" [disabled]="!emailForm.valid" (click)="requestInstruccions()">Enviar
          Instrucciones de Recuperación</button>
      </div>
      <div class="login-text-container cellphone">
        <p class="login-text" (click)="routeToLogin();">¿Ya tienes cuenta? <span class="login-text-marked">Inicia
            Sesión</span></p>
      </div>
    </div>
    <div class="end-space">

    </div>
  </div>
</ion-content>