<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <div class="principal-container">
    <div class="left-container">
      <div class=logo-background>
      </div>
    </div>
    <div class="right-container">
      <form [formGroup]="loginForm">
        <div class="login-form-container">
          <h1 class="title-role">Inicia sesión en NIMA</h1>
          <div class="">
            <div class="input-container">
              <ion-input slot="md" label="Correo" type="email" label-placement="floating" fill="outline"
                formControlName="email" name="email" required></ion-input>
            </div>
            <div class="input-container">
              <ion-input slot="md" label="Contraseña" type="password" label-placement="floating" fill="outline"
                formControlName="password" name="password" required></ion-input>
            </div>

            <div class="login-button-container">
              <button class="login-button" (click)="login()" [disabled]="!loginForm.valid">Iniciar sesión</button>
            </div>
            <div class="login-button-container">
              <button class="login-button-google" (click)="loginGoogle()">
                <img class="google-icon" src="https://accounts.scdn.co/sso/images/new-google-icon.72fd940a229bc94cf9484a3320b3dccb.svg">
                <span class="text-google">Iniciar sesión con Google</span>
              </button>
            </div>
          </div>
        </div>
      </form>

      <div class="text-register-container">
        <p class="text-register" (click)="routeTo('register')">¿No tienes cuenta? <span
            class="text-register-marked">Regístrate Aquí</span></p>
      </div>
    </div>
  </div>
</ion-content>