<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ficha Médica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="person-profile">
    <div class="person-spinner-container" style="margin-top: 50px;" *ngIf="loadingImage">
      <ion-spinner style="width: 50px; margin-left: calc((100% - 50px) / 2);"></ion-spinner>
    </div>

    <div class="person-circle-container" *ngIf="!logoUrl && !loadingImage">
      <img class="person-circle" src="https://medicapp-cdn.nyc3.cdn.digitaloceanspaces.com/user.png">
    </div>

    <div class="person-circle-container" *ngIf="logoUrl && !loadingImage">
      <img class="person-circle" [src]="logoUrl">
    </div>

    <div class="person-name-container">
      <p class="person-name"><b>{{person?.firstName}} {{person?.middleName}} {{person?.lastName}}
          {{person?.secondLastName}}</b></p>
    </div>

    <div class="resume-container" style="padding-bottom: 10px; padding-top: 10px;">
      <ion-chip style="margin-left: 15px;" *ngIf="person?.rut">
        <ion-icon name="id-card-outline"></ion-icon>
        <ion-label><b>Rut/DNI</b>: {{person?.rut}}</ion-label>
      </ion-chip>
      <ion-chip style="margin-left: 15px;" *ngIf="person?.birthDate">
        <ion-icon name="egg-outline"></ion-icon>
        <p><b>Fecha de nacimiento</b>: {{calculateDate(person?.birthDate)}}</p>
      </ion-chip>
      <ion-chip style="margin-left: 15px;" *ngIf="person?.birthDate">
        <ion-icon name="egg-outline"></ion-icon>
        <p><b>Edad</b>: {{calculateAge(person?.birthDate)}}</p>
      </ion-chip>
      <ion-chip style="margin-left: 15px;" *ngIf="person?.emergencyContact">
        <ion-icon name="call-outline"></ion-icon>
        <p><b>Número de emergencia</b>: {{person?.emergencyContact}}</p>
      </ion-chip>

      <div *ngIf="person">
        <p><b>Alergias:</b></p>

        <div *ngIf="person?.medicalRecord?.allergies">
          <div *ngIf="person.medicalRecord.allergies.length > 0">
            <ion-chip style="margin-left: 15px;" *ngFor="let allergie of person?.medicalRecord?.allergies">
              <ion-icon name="thermometer-outline"></ion-icon>
              <p>{{allergie}}</p>
            </ion-chip>
          </div>
        </div>

        <ion-item>

        </ion-item>
      </div>

      <div *ngIf="person">
        <p><b>Enfermedades Crónicas:</b></p>

        <div *ngIf="person?.medicalRecord?.chronicConditions">
          <div *ngIf="person.medicalRecord.chronicConditions.length > 0">
            <ion-chip style="margin-left: 15px;" *ngFor="let chronicCondition of person?.medicalRecord?.chronicConditions">
              <ion-icon name="bandage-outline"></ion-icon>
              <p>{{chronicCondition}}</p>
            </ion-chip>
          </div>
        </div>

        <ion-item>

        </ion-item>
      </div>

      <div *ngIf="person">
        <p><b>Medicamentos:</b></p>

        <div *ngIf="person?.medicalRecord?.medications">
          <div *ngIf="person.medicalRecord.medications.length > 0">
            <ion-chip style="margin-left: 15px;" *ngFor="let medication of person?.medicalRecord?.medications">
              <ion-icon name="medkit-outline"></ion-icon>
              <p>{{medication.name}}</p>
            </ion-chip>
          </div>
        </div>

        <ion-item>

        </ion-item>
      </div>
    </div>
  </div>
</ion-content>