<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Términos y Condiciones</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()" color="light">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="body">
    <h2 style="text-align: center;">Términos y Condiciones de Uso para Nima - Nodo Informativo Médico de Asistencia</h2>

    <p><b>Fecha de creación:</b> 17 de enero de 2024,<br><b>Última modificación:</b> 17 de enero de 2024</p>

    <div>
      <h5><b>1. Aceptación de Términos y Condiciones:</b></h5>
      <p>
        Al utilizar la aplicación Nima (en adelante, "la aplicación"), usted acepta plenamente estos Términos y Condiciones.
        Si no está de acuerdo con alguno de estos términos, le instamos a que deje de utilizar la aplicación.
      </p>
    </div>

    <div>
      <h5><b>2. Uso de la Aplicación:</b></h5>
      <p>
        Nima es una herramienta diseñada para ayudar a personas y familias a almacenar y administrar de forma segura su información médica y la de sus mascotas. Al utilizar la aplicación, usted reconoce y acepta que la información ingresada será accesible y modificable únicamente por usted.
      </p>
    </div>

    <div>
      <h5><b>3. Privacidad y Seguridad:</b></h5>
      <p>
        Entendemos la sensibilidad de la información médica. Nima se compromete a proteger su privacidad y seguridad. Los
        datos ingresados en la aplicación serán almacenados de forma segura y no serán compartidos con terceros sin su
        consentimiento explícito.
      </p>
    </div>

    <div>
      <h5><b>4. Códigos QR Públicos:</b></h5>
      <p>
        La aplicación le permite generar códigos QR públicos para compartir su información en casos de emergencia. Al crear
        y compartir códigos QR públicos, usted acepta la responsabilidad de la divulgación de dicha información y reconoce
        que cualquier persona con acceso al código QR podrá ver la información contenida en él.
      </p>
    </div>

    <div>
      <h5><b>5. Responsabilidad del Usuario:</b></h5>
      <p>
        Usted es el único responsable de la exactitud y actualización de la información ingresada en la aplicación. Nima no
        asume responsabilidad por la veracidad de la información proporcionada por los usuarios.
      </p>
    </div>

    <div>
      <h5><b>6. Acceso y Modificación por Parte de Nima:</b></h5>
      <p>
        Nima se reserva el derecho de acceder y modificar la información almacenada en la aplicación solo en casos
        excepcionales, como situaciones de emergencia o violaciones de estos Términos y Condiciones.
      </p>
    </div>

    <div>
      <h5><b>7. Uso Adecuado:</b></h5>
      <p>
        El usuario se compromete a utilizar la aplicación de manera ética y legal. No está permitido utilizar la aplicación
        para actividades ilegales o fraudulentas.
      </p>
    </div>

    <div>
      <h5><b>8. Actualizaciones y Cambios:</b></h5>
      <p>
        Nima se reserva el derecho de realizar actualizaciones y cambios en la aplicación, incluyendo la modificación de
        estos Términos y Condiciones. Se notificará a los usuarios sobre cualquier cambio significativo.
      </p>
    </div>

    <div>
      <h5><b>9. Limitación de Responsabilidad:</b></h5>
      <p>
        Nima no se hace responsable de los daños directos, indirectos, incidentales, especiales, consecuentes u otros tipos
        de pérdidas resultantes del uso o la imposibilidad de utilizar la aplicación.
      </p>
    </div>
    <div>
      <h5><b>10. Terminación del Servicio:</b></h5>
      <p>
        Nima se reserva el derecho de dar por finalizado el acceso a la aplicación en cualquier momento, con o sin previo aviso, si
        se determina que el usuario ha violado estos Términos y Condiciones.
      </p>
    </div>

    <p>
      Al utilizar Nima, usted reconoce que ha leído, comprendido y aceptado estos Términos y Condiciones. Si tiene alguna
      pregunta o inquietud, póngase en contacto con nuestro equipo de soporte.
    </p>
  </div>
</ion-content>
