<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mascota</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="pet-profile">
    <div class="pet-spinner-container" style="margin-top: 50px;" *ngIf="loadingImage">
      <ion-spinner style="width: 50px; margin-left: calc((100% - 50px) / 2);"></ion-spinner>
    </div>

    <div class="pet-circle-container" *ngIf="!logoUrl && !loadingImage">
      <img class="pet-circle" src="https://medicapp-cdn.nyc3.cdn.digitaloceanspaces.com/pet.png">
    </div>

    <div class="pet-circle-container" *ngIf="logoUrl && !loadingImage">
      <img class="pet-circle" [src]="logoUrl">
    </div>

    <div class="pet-name-container">
      <p class="pet-name"><b>{{pet?.name}}</b></p>
    </div>

    <div class="pet-name-container">
      <p class="pet-name">{{pet?.description}}</p>
    </div>

    <div class="resume-container" style="padding-bottom: 10px; padding-top: 10px;">
      <ion-chip style="margin-left: 15px;" *ngIf="pet?.age">
        <ion-icon name="egg-outline"></ion-icon>
        <ion-label><b>Edad</b>: {{pet?.age}}</ion-label>
      </ion-chip>
      <ion-chip style="margin-left: 15px;" *ngIf="pet?.species">
        <ion-icon name="paw-outline"></ion-icon>
        <ion-label><b>Especie</b>: {{pet?.species}}</ion-label>
      </ion-chip>

      <div *ngIf="pet">
        <p style="margin-left: 20px;"><b>Información dueño/a:</b></p>
  
        <div *ngIf="pet?.owner">
          <ion-chip style="margin-left: 15px;" *ngIf="pet.owner.name">
            <ion-icon name="id-card-outline"></ion-icon>
            <ion-label><b>Nombre:</b> {{pet.owner.name}}</ion-label>
          </ion-chip>
          <ion-chip style="margin-left: 15px; background: #ec82e0;" *ngIf="pet.owner.emergencyContact">
            <ion-icon name="phone-portrait-outline"></ion-icon>
            <ion-label><b>Número de Emergencia:</b> {{pet.owner.emergencyContact}}</ion-label>
          </ion-chip>
          <ion-chip style="margin-left: 15px;" *ngIf="pet?.owner?.address">
            <ion-icon name="location-outline"></ion-icon>
            <ion-label><b>Dirección:</b> {{pet.owner.address}}</ion-label>
          </ion-chip>
          <ion-chip style="margin-left: 15px;" *ngIf="pet.owner.social">
            <ion-icon name="globe-outline"></ion-icon>
            <ion-label><b>Red Social:</b> {{pet.owner.social}}</ion-label>
          </ion-chip>
        </div>
        <ion-item>
        </ion-item>
      </div>
    </div>


  </div>

</ion-content>