<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Donaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="data-container"><!-- *ngIf="!loading"-->
    <div class="info-container">
      <div class="donation-image-container">
          <img class="image" src="https://medicapp-cdn.nyc3.cdn.digitaloceanspaces.com/foxo.png">
      </div>
      <h1 class="data-title">Primero que todo, queremos darte las gracias por usar esta app</h1>
      <p class="desc-title">
        Nuestras aplicaciones son gratuitas. El apoyo de ustedes nos ayuda a crecer, a producir más aplicaciones, a mantener nuestros servidores y a mejorar nuestra calidad en el desarrollo. Puedes apoyarnos y agregaremos tu nombre en la lista de personas que contribuyeron a mejorar nuestro trabajo y el mundo en el que vivimos.<a class="desc-title" href="https://www.buymeacoffee.com/andeancatclub" target="_blank" style=" text-decoration: none;"><p style="margin-top: 15px; text-align: center;"><b>AndeanCatClub</b></p></a>
      </p>

      <a href="https://www.buymeacoffee.com/andeancatclub" target="_blank"><button class="donation-button" size="medium">Has click para realizar una contribución</button></a>

      <p class="desc-title" style="padding-top: 10px; padding-bottom: 10px;"><b>o escanea el código qr</b></p>

      <div class="donation-image-container">
        <img class="image" src="../../assets/buy-coffe-logo.png">
      </div>
    </div>
  </div>
</ion-content>
