<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Política de Privacidad</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()" color="light">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="body">
    <h2 style="text-align: center;"> Política de Privacidad de Uso para Nima - Nodo Informativo Médico de Asistencia</h2>

    <p><b>Fecha de creación:</b> 17 de enero de 2024,<br><b>Última modificación:</b> 17 de enero de 2024</p>

    <div>
      <h5><b>1. Introducción:</b></h5>
      <p>
        En Nima, valoramos y respetamos tu privacidad. Esta Política de Privacidad describe cómo recopilamos, utilizamos y protegemos la información que proporcionas al utilizar nuestra aplicación. Al utilizar Nima, aceptas los términos de esta política.
      </p>
    </div>

    <div>
      <h5><b>2. Información Recopilada:</b></h5>
      <p>
        Nima recopila información personal y médica que proporcionas voluntariamente al utilizar la aplicación. Esta información puede incluir, entre otros, datos médicos personales, información de contacto y datos de mascotas.
      </p>
    </div>

    <div>
      <h5><b>3. Propiedad y Control de la Información:</b></h5>
      <p>
        En Nima, reconocemos que la información que ingreses en la aplicación es tuya. No reclamamos derechos de propiedad sobre tus datos. Tienes el derecho de borrar tanto tus datos como tu cuenta en cualquier momento.
      </p>
    </div>

    <div>
      <h5><b>4. Uso de la Información:</b></h5>
      <p>
        La información recopilada se utiliza para proporcionar funcionalidades de la aplicación, como la gestión segura de datos médicos y la generación de códigos QR públicos. No compartiremos tu información con terceros sin tu consentimiento explícito.
      </p>
    </div>

    <div>
      <h5><b>5. Transparencia y Código Abierto:</b></h5>
      <p>
        En Nima, la transparencia es primordial. Adoptamos un enfoque de código abierto para garantizar la confianza y la responsabilidad. Nuestra estructura de código abierto permite a los usuarios revisar y comprender cómo se maneja la información dentro de la aplicación.
      </p>
    </div>

    <div>
      <h5><b>6. Seguridad de la Información:</b></h5>
      <p>
        Nos comprometemos a proteger la seguridad de tu información. Implementamos medidas de seguridad adecuadas para evitar accesos no autorizados, divulgación, alteración o destrucción de datos.
      </p>
    </div>

    <div>
      <h5><b>7. Acceso y Modificación:</b></h5>
      <p>
        Tienes el derecho de acceder y modificar la información que has proporcionado en la aplicación. Nima solo accederá y modificará la información en casos excepcionales, como situaciones de emergencia o violaciones de los términos de uso.
      </p>
    </div>

    <div>
      <h5><b>8. Comunicaciones y Notificaciones:</b></h5>
      <p>
        Podemos utilizar la información proporcionada para comunicarnos contigo, por ejemplo, para enviar notificaciones sobre actualizaciones de la aplicación o información relevante para tu salud.
      </p>
    </div>

    <div>
      <h5><b>9. Cambios en la Política de Privacidad:</b></h5>
      <p>
        Nos reservamos el derecho de realizar cambios en esta Política de Privacidad. Se te notificará sobre cualquier cambio significativo. Continuar utilizando la aplicación después de dichos cambios constituirá tu aceptación de las modificaciones.
      </p>
    </div>

    <div>
      <h5><b>10. Contacto:</b></h5>
      <p>
        Si tienes preguntas, inquietudes o solicitudes relacionadas con tu privacidad, no dudes en contactar con nuestro equipo de soporte.
      </p>
    </div>
  </div>
</ion-content>
