<ion-content [fullscreen]="true">
  <div class="principal-container">
    <div class="left-container">
      <div class=logo-background>
      </div>
    </div>
    <div class="right-container">
      <form [formGroup]="registerForm">

        <div class="register-form-container">
          <h1 class="title-role">Regístrate en medicapp</h1>
          <div class="">
            <div class="input-container">
              <ion-input slot="md" label="Nombre" type="text" label-placement="floating" fill="outline"
                formControlName="name" name="name" required></ion-input>
            </div>
            <div class="input-container">
              <ion-input slot="md" label="Celular" type="text" label-placement="floating" fill="outline"
                formControlName="phone" name="phone" required></ion-input>
            </div>
            <div class="input-container">
              <ion-input slot="md" label="Correo" type="email" label-placement="floating" fill="outline"
                formControlName="email" name="email" required></ion-input>
            </div>
            <div class="input-container">
              <ion-input slot="md" label="Contraseña" type="password" label-placement="floating" fill="outline"
                formControlName="password" name="password" required></ion-input>
            </div>

            <div class="register-button-container">
              <button class="register-button" (click)="saveUser()" [disabled]="!registerForm.valid">Regístrate</button>
            </div>
          </div>
        </div>
      </form>

      <div class="text-register-container">
        <p class="text-register" (click)="routeTo('login')">¿Ya tienes cuenta? <span class="text-register-marked">Inicia
            Sesión</span></p>
      </div>
    </div>
  </div>
</ion-content>