<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <div class="principal-container">
    <div class="left-container">
      <div class=logo-background>
      </div>
    </div>
    <div class="right-container">
      <form [formGroup]="registerForm">
        <div class="register-form-container">
          <h1 class="title-role">Regístrate en NIMA</h1>
          <div class="">
            <div class="input-container">
              <ion-input slot="md" label="Nombre" type="text" label-placement="floating" fill="outline"
                formControlName="name" name="name" required></ion-input>
            </div>
            <div class="input-container">
              <ion-input slot="md" label="Celular" type="text" label-placement="floating" fill="outline"
                formControlName="phone"minlength="5"  name="phone" required></ion-input>
            </div>
            <div class="input-container">
              <ion-input slot="md" label="Correo" type="email" label-placement="floating" fill="outline"
                formControlName="email" name="email" required></ion-input>
            </div>
            <div class="input-container">
              <ion-input slot="md" minlength="6" label="Contraseña (mínimo 6 caracteres)" type="password" label-placement="floating" fill="outline"
                formControlName="password" name="password" required></ion-input>
            </div>

            <div class="individual-container">
              <div class="checks-container">
                <ion-item>
                  <ion-checkbox checked="false" formControlName="aceptTerms" slot="start"></ion-checkbox>
                  Autorizar declaración de privacidad y términos y condiciones
                </ion-item>
                <p>Autorizo el uso de mis datos de acuerdo a la <span style="color: #4573ea; cursor: pointer;" (click)="openModal('privacy')">Declaración de Privacidad</span> y acepto los <span style="color: #4573ea; cursor: pointer;" (click)="openModal('terms')">Términos y Condiciones.</span></p>
              </div>
            </div>

            <div class="register-button-container">
              <button class="register-button" (click)="saveUser()" [disabled]="!registerForm.valid || !registerForm.controls['aceptTerms'].value">Regístrate</button>
            </div>

            <div class="register-button-container">
              <button class="register-button-google">
                <img class="google-icon" src="https://accounts.scdn.co/sso/images/new-google-icon.72fd940a229bc94cf9484a3320b3dccb.svg">
                <span class="text-google">Regístrate con Google</span>
              </button>
            </div>
          </div>
        </div>
      </form>

      <div class="text-register-container">
        <p class="text-register" (click)="routeTo('login')">¿Ya tienes cuenta? <span class="text-register-marked">Inicia
            Sesión</span></p>
      </div>
    </div>
  </div>
</ion-content>